main:first-of-type{
	margin-top: $nav-bar-height;
}
.parent{
	&--header{
		background: $base;
		color:$white;
		img{
			filter: invert(1);
		}
	}
	&--content{
		min-height: 500px;
	}
	&--copyright{

	}
}
