.button { padding: 10px 20px; background: #fff; text-transform: uppercase; font-size: 16px; font-weight: 700; position: relative; z-index: 1; -webkit-transition: .3s ease; -o-transition: .3s ease; transition: .3s ease; cursor: pointer; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; text-align: center; }

.button--center { margin-left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.button--404 { border: 1px solid #21201f; }

.button--404:hover { background: #21201f; color: #fff; }

* { -webkit-box-sizing: border-box !important; box-sizing: border-box !important; }

.wp-block { max-width: initial; }

/*# sourceMappingURL=../maps/wpstyles/wpdashboard.css.map */
