@-webkit-keyframes Rotate { 0% { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
  100% { -webkit-transform: rotate(540deg); transform: rotate(540deg); } }

@keyframes Rotate { 0% { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
  100% { -webkit-transform: rotate(540deg); transform: rotate(540deg); } }

#loader { width: 100%; height: 100%; position: fixed; top: 0; z-index: 999; background: #fff; overflow: hidden; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; visibility: hidden; opacity: 1; -webkit-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }

#loader.loader { -webkit-transition: none !important; -o-transition: none !important; transition: none !important; visibility: visible; }

#loader.loader:after { content: ""; border: 4px solid #ccc; border-top: 4px solid #21201f; border-radius: 100%; height: 60px; width: 60px; position: absolute; -webkit-transition: .02s ease-out; -o-transition: .02s ease-out; transition: .02s ease-out; -webkit-animation: Rotate 0.7s infinite cubic-bezier(0.2, 0.8, 0.8, 0.2); animation: Rotate 0.7s infinite cubic-bezier(0.2, 0.8, 0.8, 0.2); }

/*# sourceMappingURL=maps/preloader.css.map */
