
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */


html { line-height: 1.15;  -webkit-text-size-adjust: 100%;  }



body { margin: 0; }


h1 { font-size: 2em; margin: 0.67em 0; }



hr { -webkit-box-sizing: content-box; box-sizing: content-box;  height: 0;  overflow: visible;  }


pre { font-family: monospace, monospace;  font-size: 1em;  }



a { background-color: transparent; }


abbr[title] { border-bottom: none;  text-decoration: underline;  -webkit-text-decoration: underline dotted; text-decoration: underline dotted;  }


b, strong { font-weight: bolder; }


code, kbd, samp { font-family: monospace, monospace;  font-size: 1em;  }


small { font-size: 80%; }


sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }



img { border-style: none; }



button, input, optgroup, select, textarea { font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;  }


button, input {  overflow: visible; }


button, select {  text-transform: none; }


button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }


button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }


button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }


fieldset { padding: 0.35em 0.75em 0.625em; }


legend { -webkit-box-sizing: border-box; box-sizing: border-box;  color: inherit;  display: table;  max-width: 100%;  padding: 0;  white-space: normal;  }


progress { vertical-align: baseline; }


textarea { overflow: auto; }


[type="checkbox"], [type="radio"] { -webkit-box-sizing: border-box; box-sizing: border-box;  padding: 0;  }


[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }


[type="search"] { -webkit-appearance: textfield;  outline-offset: -2px;  }


[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }


::-webkit-file-upload-button { -webkit-appearance: button;  font: inherit;  }



details { display: block; }


summary { display: list-item; }



template { display: none; }


[hidden] { display: none; }






html { font-family: "Lato", sans-serif; color: #000; width: 100%; height: 100%; }

body { width: 100%; height: 100%; }

a { text-decoration: none; color: inherit; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

.wrapper { width: 100%; height: 100%; margin: 0; padding: 0; }

.container { margin: 0 auto; }

.row { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

img { max-width: 100%; }

html { font-size: 16px; }

@media (min-width: 1200px) and (max-width: 1439.98px) { html { font-size: 14px; } }

@media (max-width: 1199.98px) { html { font-size: 15px; } }

@media (max-width: 767.98px) { html { font-size: 13px; } }

body { min-width: 320px; }

.container { min-width: 300px; width: 100%; }

@media (max-width: 449.98px) { .container { max-width: 96%; } }

@media (min-width: 450px) and (max-width: 575.98px) { .container { max-width: 430px; } }

@media (min-width: 576px) and (max-width: 767.98px) { .container { max-width: 540px; } }

@media (min-width: 768px) and (max-width: 991.98px) { .container { max-width: 720px; } }

@media (min-width: 992px) and (max-width: 1199.98px) { .container { max-width: 960px; } }

@media (min-width: 1200px) and (max-width: 1439.98px) { .container { max-width: 1140px; } }

@media (min-width: 1440px) { .container { max-width: 1400px; } }

.col { padding: 0 15px; min-height: 1px; }

.col--12 { width: 100%; }

.col--11 { width: 91.66667%; }

@media (max-width: 991.98px) { .col--11 { width: 100%; } }

.col--10 { width: 83.33333%; }

@media (max-width: 767.98px) { .col--10 { width: 100%; } }

.col--9 { width: 75%; }

@media (max-width: 767.98px) { .col--9 { width: 100%; } }

.col--8 { width: 66.66667%; }

@media (max-width: 991.98px) { .col--8 { width: 100%; } }

.col--7 { width: 58.33333%; }

@media (max-width: 767.98px) { .col--7 { width: 100%; } }

.col--6 { width: 50%; }

@media (max-width: 767.98px) { .col--6 { width: 100%; } }

.col--5 { width: 41.66667%; }

@media (max-width: 767.98px) { .col--5 { width: 100%; } }

.col--4 { width: 33.33333%; }

@media (max-width: 991.98px) { .col--4 { width: 50%; } }

@media (max-width: 767.98px) { .col--4 { width: 100%; } }

.col--3 { width: 25%; }

@media (max-width: 991.98px) { .col--3 { width: 50%; } }

@media (max-width: 575.98px) { .col--3 { width: 100%; } }

.col--2 { width: 16.66667%; }

@media (max-width: 767.98px) { .col--2 { width: 100%; } }

.col--1 { width: 8.33333%; }

@media (max-width: 991.98px) { .col--1 { width: 50%; } }

@media (max-width: 767.98px) { .col--1 { width: 100%; } }

.button, .wpcf7-submit { padding: 10px 20px; background: #fff; text-transform: uppercase; font-size: 16px; font-weight: 700; position: relative; z-index: 1; -webkit-transition: .3s ease; -o-transition: .3s ease; transition: .3s ease; cursor: pointer; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; text-align: center; }

.button--center { margin-left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.button--404 { border: 1px solid #21201f; }

.button--404:hover { background: #21201f; color: #fff; }


.parent--header { position: fixed; top: 0; right: 0; left: 0; height: 60px; z-index: 90; }

.parent--header .container { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

.parent--header #navToggler { display: none; }

.header__wrap { height: 100%; }

.header__logo { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; padding: 4px 0; }

.header__logo img, .header__logo svg { -o-object-fit: contain; object-fit: contain; -o-object-position: left center; object-position: left center; max-height: 100%; max-width: 100%; }

.header__nav ul { margin: 0; padding: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.header__nav ul li { margin: 0; padding: 0; cursor: pointer; list-style: none; }

.header__nav ul li a { display: inline-block; text-align: center; }

@media (min-width: 768px) { .parent--header #mobile-hamburger { display: none; }
  .header { float: right; }
  .header__nav ul li.menu-item { position: relative; }
  .header__nav ul li.menu-item a { padding: 10px 10px; }
  .header__nav ul li.menu-item:hover .sub-menu { max-height: 200px; }
  .header__nav ul li.menu-item:hover.menu-item-has-children:after { content: '\25B2'; }
  .header__nav ul li.menu-item-has-children { padding: 0 20px 0 0; }
  .header__nav ul li.menu-item-has-children:after { position: absolute; right: 0; top: 0; content: '\25BC'; color: #fff; font-size: 12px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 20px; height: 100%; -webkit-transition: .4s; -o-transition: .4s; transition: .4s; }
  .header__nav ul li.menu-item .sub-menu { position: absolute; top: 100%; right: 0; overflow: hidden; max-height: 0; -webkit-transition: .4s; -o-transition: .4s; transition: .4s; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; min-width: 150px; }
  .header__nav ul li.menu-item .sub-menu a { background: rgba(33, 32, 31, 0.8); width: 100%; text-align: right; } }

@media (max-width: 767.98px) { .parent--header #mobile-hamburger { display: block; position: absolute; right: 20px; top: 20px; font-size: 40px; z-index: 90; cursor: pointer; width: 30px; height: 30px; text-align: center; }
  .parent--header #mobile-hamburger span { height: 3px; width: 100%; background: #fff; position: absolute; left: 0px; right: 0px; display: inline-block; overflow: hidden; -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); -o-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .parent--header #mobile-hamburger span:first-child, .parent--header #mobile-hamburger span:last-child { visibility: visible; width: 100%; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }
  .parent--header #mobile-hamburger span:nth-child(2) { top: 10px; -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
  .parent--header #mobile-hamburger span:nth-child(3) { top: 10px; -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
  .parent--header #mobile-hamburger span:last-child { top: 20px; }
  .parent--header .header__nav { position: fixed; background: #fff; top: 0; left: 100%; right: 0; bottom: 0; min-width: 200px; padding-top: 60px; z-index: 80; visibility: hidden; overflow: auto; color: #21201f; -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); -o-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); -webkit-box-shadow: 0 0 10px rgba(33, 32, 31, 0.6); box-shadow: 0 0 10px rgba(33, 32, 31, 0.6); }
  .parent--header .header__nav::-webkit-scrollbar { display: none; }
  .parent--header .header__nav ul { width: 100%; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .parent--header .header__nav ul li { width: 100%; }
  .parent--header .header__nav ul li a { padding: 10px 20px; width: 100%; text-align: right; }
  .parent--header #navToggler[type=checkbox]:checked ~ .header__nav { left: 50%; visibility: visible; }
  .parent--header #navToggler[type=checkbox]:checked ~ #mobile-hamburger span { background: #21201f; }
  .parent--header #navToggler[type=checkbox]:checked ~ #mobile-hamburger span:first-child, .parent--header #navToggler[type=checkbox]:checked ~ #mobile-hamburger span:last-child { visibility: hidden; top: 10px; width: 0px; }
  .parent--header #navToggler[type=checkbox]:checked ~ #mobile-hamburger span:nth-child(2) { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
  .parent--header #navToggler[type=checkbox]:checked ~ #mobile-hamburger span:nth-child(3) { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); } }

@media (max-width: 575.98px) { .parent--header #navToggler[type=checkbox]:checked ~ .header__nav { left: 30%; visibility: visible; } }

.parent--footer { background: #21201f; color: #fff; }

.copyright__wrap { padding: 15px; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.wpcf7 { width: 66.66667%; margin: 0 auto !important; }

@media (max-width: 1199.98px) { .wpcf7 { width: 83.33333%; } }

@media (max-width: 767.98px) { .wpcf7 { width: 100%; } }

.wpcf7-form { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.wpcf7-form .input__holder { padding: 15px; width: 100%; position: relative; }

.wpcf7-form .input__holder--half { width: 50%; }

@media (max-width: 575.98px) { .wpcf7-form .input__holder--half { width: 100%; } }

.wpcf7-form .input__holder--accept { width: 70%; }

@media (max-width: 767.98px) { .wpcf7-form .input__holder--accept { width: 100%; } }

.wpcf7-form .input__holder--submit { width: 30%; }

@media (max-width: 767.98px) { .wpcf7-form .input__holder--submit { width: 100%; } }

.wpcf7-form-control-wrap { width: 100%; position: static; }

.wpcf7-form-control { width: 100%; height: 70px; padding: 0 35px; border-radius: 10px; border: 1px solid rgba(0, 0, 0, 0.3); outline: 0; -webkit-transition: .3s; -o-transition: .3s; transition: .3s; }

.wpcf7-form-control:focus { border: 1px solid rgba(119, 119, 119, 0.6); -webkit-box-shadow: 0 0 10px 0px rgba(33, 32, 31, 0.2); box-shadow: 0 0 10px 0px rgba(33, 32, 31, 0.2); }

.wpcf7-textarea { height: auto; min-height: 100px; resize: vertical; padding: 30px 35px; }

.wpcf7-acceptance { border: 0; padding: 20px 0; }

.wpcf7-acceptance .wpcf7-list-item { margin: 0; }

.wpcf7-acceptance input { margin: 0 10px 0 0; }

.wpcf7-acceptance a { text-decoration: underline; }

.wpcf7-submit { margin: 0; border: 0; }

.wpcf7-not-valid-tip { position: absolute; left: 0; right: 0; padding: 0 15px; font-size: 14px !important; }

.wpcf7-response-output { width: 100%; margin: 15px 15px 0 !important; padding: 15px !important; }

.wpcf7-file { padding: 20px 35px; }


.alignnone { margin: 5px 20px 20px 0; }

.aligncenter, div.aligncenter { display: block; margin: 5px auto 5px auto; }

.alignright { float: right; margin: 5px 0 20px 20px; }

.alignleft { float: left; margin: 5px 20px 20px 0; }

a img.alignright { float: right; margin: 5px 0 20px 20px; }

a img.alignnone { margin: 5px 20px 20px 0; }

a img.alignleft { float: left; margin: 5px 20px 20px 0; }

a img.aligncenter { display: block; margin-left: auto; margin-right: auto; }

.wp-caption { background: #fff; border: 1px solid #f0f0f0; max-width: 96%;  padding: 5px 3px 10px; text-align: center; }

.wp-caption.alignnone { margin: 5px 20px 20px 0; }

.wp-caption.alignleft { margin: 5px 20px 20px 0; }

.wp-caption.alignright { margin: 5px 0 20px 20px; }

.wp-caption img { border: 0 none; height: auto; margin: 0; max-width: 98.5%; padding: 0; width: auto; }

.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; margin: 0; padding: 0 4px 5px; }

.wp-block__wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.wp-block__wrap > p, .wp-block__wrap h1, .wp-block__wrap h2, .wp-block__wrap h3, .wp-block__wrap h4, .wp-block__wrap h5, .wp-block__wrap h6 { width: 100%; padding: 0 15px; }

.wp-block__wrap > ul { width: 100%; padding: 0 15px; margin: 15px 30px; }

.wp-block-quote { width: 100%; padding: 0 15px; }

@media (max-width: 575.98px) { .wp-block-quote { margin: 0 15px; } }

.wp-block-table { width: 100%; border-spacing: 0; margin: 15px 15px; border-collapse: collapse; }

.wp-block-table:not(.is-style-stripes), .wp-block-table.is-style-regular { border: 1px solid #21201f; }

.wp-block-table:not(.is-style-stripes) td, .wp-block-table.is-style-regular td { border: 1px solid #21201f; }

.wp-block-table.is-style-stripes { border: 0; }

.wp-block-table.is-style-stripes tr:nth-child(odd) { background: #d4d3d1; }

.wp-block-table td { padding: 10px; }

@media (max-width: 575.98px) { .wp-block-table { display: block; border: 0 !important; }
  .wp-block-table tbody { display: block; }
  .wp-block-table tr { display: block; margin: 0 0 10px; }
  .wp-block-table tr:first-child { display: none; }
  .wp-block-table td { display: block; }
  .wp-block-table td:before { content: attr(data-tdhead); display: block; background: #21201f; color: #fff; padding: 10px; margin: -10px -10px 10px -10px; } }

.wp-block-columns { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.wp-block-columns.has-2-columns .wp-block-column { width: 50%; }

.wp-block-columns.has-3-columns .wp-block-column { width: 33.33333%; }

@media (max-width: 767.98px) { .wp-block-columns.has-3-columns .wp-block-column { width: 50%; } }

.wp-block-columns.has-4-columns .wp-block-column { width: 25%; }

@media (max-width: 767.98px) { .wp-block-columns.has-4-columns .wp-block-column { width: 50%; } }

.wp-block-columns.has-5-columns .wp-block-column { width: 20%; }

@media (max-width: 991.98px) { .wp-block-columns.has-5-columns .wp-block-column { width: 33.33333%; } }

@media (max-width: 767.98px) { .wp-block-columns.has-5-columns .wp-block-column { width: 50%; } }

.wp-block-columns.has-6-columns .wp-block-column { width: 16.66667%; }

@media (max-width: 991.98px) { .wp-block-columns.has-6-columns .wp-block-column { width: 33.33333%; } }

@media (max-width: 767.98px) { .wp-block-columns.has-6-columns .wp-block-column { width: 50%; } }

.wp-block-column { margin: 0 !important; padding: 0 15px; }

@media (min-width: 450px) and (max-width: 767.98px) { .wp-block-column:last-child:nth-child(odd) { width: 100%; } }

@media (max-width: 449.98px) { .wp-block-column { width: 100% !important; } }

.wp-block-audio { width: 100%; }

.wp-block-audio audio { width: 100%; }

.wp-block-media-text { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 0 0 30px; }

.wp-block-media-text__media { width: 50%; padding: 0 15px; margin: 0; }

@media (max-width: 767.98px) { .wp-block-media-text__media { width: 100%; } }

.wp-block-media-text__content { width: 50%; padding: 0 15px; }

@media (max-width: 767.98px) { .wp-block-media-text__content { width: 100%; } }

.gallery { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 50px 0 20px; width: 100%; list-style: none; }

.gallery-item { width: 33.33333%; padding: 0 15px 30px; margin: 0; }

.gallery-icon { width: 100%; height: 100%; position: relative; }

.gallery-icon:after { content: ''; display: block; padding-top: 65%; }

.gallery-icon a { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; width: 100%; height: 100%; }

.gallery-icon a img { -o-object-fit: cover; object-fit: cover; max-height: 100%; }

.wp-block-gallery { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 50px 0 20px !important; margin: 0 !important; width: 100%; list-style: none; }

.wp-block-gallery.columns-6 .blocks-gallery-item { width: 16.66667%; }

@media (min-width: 992px) and (max-width: 1199.98px) { .wp-block-gallery.columns-6 .blocks-gallery-item { width: 33.33333%; } }

.wp-block-gallery.columns-5 .blocks-gallery-item { width: 20%; }

@media (max-width: 1199.98px) { .wp-block-gallery.columns-5 .blocks-gallery-item { width: 33.33333%; } }

.wp-block-gallery.columns-4 .blocks-gallery-item { width: 25%; }

@media (max-width: 1199.98px) { .wp-block-gallery.columns-4 .blocks-gallery-item { width: 33.33333%; } }

.wp-block-gallery.columns-3 .blocks-gallery-item { width: 33.33333%; }

.wp-block-gallery.columns-2 .blocks-gallery-item { width: 50%; }

.wp-block-gallery.columns-1 .blocks-gallery-item { width: 100%; max-width: 83.33333%; margin: 0 auto; }

.wp-block-gallery.is-cropped .blocks-gallery-item figure img { -o-object-fit: cover; object-fit: cover; max-width: 100%; min-height: 100%; max-height: initial; }

.wp-block-gallery .blocks-gallery-item { padding: 0 15px 30px; margin: 0; position: relative; z-index: 0; width: 16.66667%; }

@media (min-width: 576px) and (max-width: 991.98px) { .wp-block-gallery .blocks-gallery-item { width: 50% !important; } }

@media (min-width: 450px) and (max-width: 575.98px) { .wp-block-gallery .blocks-gallery-item { margin: 0 auto; width: 83.33333% !important; } }

@media (max-width: 449.98px) { .wp-block-gallery .blocks-gallery-item { width: 100% !important; } }

.wp-block-gallery .blocks-gallery-item:after { content: ''; display: block; padding-top: 57%; }

.wp-block-gallery .blocks-gallery-item figure { margin: 0; position: absolute; top: 0; left: 15px; right: 15px; bottom: 30px; }

.wp-block-gallery .blocks-gallery-item figure:hover figcaption { opacity: 1; visibility: visible; }

.wp-block-gallery .blocks-gallery-item figure figcaption { position: absolute; bottom: 10px; background: #fff; -webkit-box-shadow: 0 0 5px #21201f; box-shadow: 0 0 5px #21201f; padding: 10px; left: 20%; right: 20%; text-align: center; -webkit-transition: .4s; -o-transition: .4s; transition: .4s; }

@media (min-width: 992px) { .wp-block-gallery .blocks-gallery-item figure figcaption { opacity: 0; visibility: hidden; } }

.wp-block-gallery .blocks-gallery-item figure a { height: 100%; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; overflow: hidden; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.wp-block-gallery .blocks-gallery-item figure img { -o-object-position: center; object-position: center; display: block; max-width: 100%; -o-object-fit: contain; object-fit: contain; max-height: 100%; }



#image_extender { position: fixed; z-index: 99; background: rgba(0, 0, 0, 0.9); top: 0; left: 0; right: 0; bottom: 0; display: none; }

#image_extender #container { width: 90vw; height: 90vh; position: absolute; top: 5vh; left: 5vw; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#image_extender #container img { max-width: 100%; max-height: 100%; }

#image_extender #exit { font-size: 80px; cursor: pointer; float: right; padding: 0 40px; position: relative; z-index: 99; color: #fff; font-weight: 100; }

#image_extender .arrow { width: 5vw; height: 200px; position: absolute; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; cursor: pointer; top: calc(50% - 100px); }

#image_extender .arrow span { width: 3vw; height: 3vw; display: block; top: 50%; position: absolute; }

#image_extender .arrow--prev { left: 0; }

#image_extender .arrow--prev span { border-top: 2px solid #999999; border-left: 2px solid #999999; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

#image_extender .arrow--next { right: 0; }

#image_extender .arrow--next span { border-top: 2px solid #999999; border-right: 2px solid #999999; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.cookie-bar__wrap { width: 100%; min-height: 50px; position: fixed; bottom: -200px; z-index: 99; background: rgba(33, 32, 31, 0.7); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; font-size: 1rem; line-height: 1.5; -webkit-transition: .4s; -o-transition: .4s; transition: .4s; }

.cookie-bar__wrap.active { bottom: 0; }

.cookie-bar__more { color: #fff; display: -webkit-box; display: -ms-flexbox; display: flex; text-decoration: none; background: #777777; padding: 5px 15px; margin: 0 0 0 10px; -webkit-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }

.cookie-bar__more:hover { background: #21201f; color: #fff; }

.cookie-bar__desc { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 10px; text-align: right; }

.cookie-bar__accept { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; background: #21201f; padding: 5px 20px; color: #fff; cursor: pointer; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.cookie-bar__accept:hover { background: #777777; color: #21201f; }


main:first-of-type { margin-top: 60px; }

.parent--header { background: #21201f; color: #fff; }

.parent--header img { -webkit-filter: invert(1); filter: invert(1); }

.parent--content { min-height: 500px; }

.error404__wrap { -ms-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 40px; }

.error404__wrap h1, .error404__wrap h2, .error404__wrap h3 { width: 100%; text-align: center; }

.error404__title { font-size: 10vw; line-height: 1; font-weight: 700; position: relative; z-index: 10; }

@media (max-width: 767.98px) { .error404__title { font-size: 12vw; } }

.error404__title:after { content: "ERROR"; position: absolute; z-index: 1; top: -20px; font-size: 120%; left: 0; right: 0; color: rgba(33, 32, 31, 0); opacity: 0.2; text-shadow: 0 0 20px #21201f; }

.error404__content { font-size: 2vw; line-height: 1; font-weight: 700; }

@media (max-width: 767.98px) { .error404__content { font-size: 4vw; } }

/*# sourceMappingURL=maps/style.css.map */
