.button, .login .button-primary { padding: 10px 20px; background: #fff; text-transform: uppercase; font-size: 16px; font-weight: 700; position: relative; z-index: 1; -webkit-transition: .3s ease; -o-transition: .3s ease; transition: .3s ease; cursor: pointer; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; text-align: center; }

.button--center { margin-left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.button--404 { border: 1px solid #21201f; }

.button--404:hover { background: #21201f; color: #fff; }

.login { padding: 75px 0 0; background: #21201f; }

.login #login { background: #fff; padding: 20px 0; }

.login #login h1 a { background-image: url("../img/logo.png"); width: 100%; background-size: contain; }

.login .button.button-large, .login .button-large.button-primary { height: 40px; }

.login label { font-size: 12px; color: #555555; }

.login input { background-color: #ffffff; border-color: #dddddd; border-radius: 0px; outline: 0; -webkit-box-shadow: 0; box-shadow: 0; }

.login .button-primary { display: block; width: 100%; margin-top: 30px; text-transform: uppercase; font-weight: bold; letter-spacing: 3px; text-shadow: none; -webkit-box-shadow: none; box-shadow: none; border-radius: 0; color: #21201f; }

.login .button-primary:hover { background: #777777; }

/*# sourceMappingURL=maps/wplogin.css.map */
