.wp-block{
	&__wrap{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		> p,h1,h2,h3,h4,h5,h6{
			width: 100%;
			padding: 0 15px;
		}
		> ul{
			width: 100%;
			padding: 0 15px;
			margin: 15px 30px;
		}
	}
	&-quote{
		width: 100%;
		padding: 0 15px;
		@include media-breakpoint-down( xs ){
			margin: 0 15px;
		}
	}
	&-table{
		width: 100%;
		border-spacing: 0;
		margin: 15px 15px;
		border-collapse: collapse;
		&:not(.is-style-stripes),&.is-style-regular{
			border: 1px solid $base;
			td{
				border: 1px solid $base;
			}
		}
		&.is-style-stripes{
			border: 0;
			tr{
				&:nth-child(odd){
					background: lighten($base,70%);
				}
			}
			td{
			}
		}
		td{
			padding: 10px;
		}
		@include media-breakpoint-down( xs ){
			display: block;
			border: 0 !important;
			tbody{
				display: block;
			}
			tr{
				display: block;
				margin: 0 0 10px;
				&:first-child{
					display: none;
				}
			}
			td{	
				display: block;
				&:before{
					content: attr(data-tdhead);
					display: block;
					background: $base;
					color: $white;
					padding: 10px;
					margin: -10px -10px 10px -10px;
				}
			}
		}
	}
	&-columns{
		width: 100%;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		&.has{
			&-2-columns{
				.wp-block-column{
					width: $column * 6;
				}
			}
			&-3-columns{
				.wp-block-column{
					width: $column * 4;
					@include media-breakpoint-down( sm ){
						width: $column * 6;
					}
				}
			}
			&-4-columns{
				.wp-block-column{
					width: $column * 3;
					@include media-breakpoint-down( sm ){
						width: $column * 6;
					}
				}
			}
			&-5-columns{
				.wp-block-column{
					width: $column * 2.4;
					@include media-breakpoint-down( md ){
						width: $column * 4;
					}
					@include media-breakpoint-down( sm ){
						width: $column * 6;
					}
				}
			}
			&-6-columns{
				.wp-block-column{
					width: $column * 2;
					@include media-breakpoint-down( md ){
						width: $column * 4;
					}
					@include media-breakpoint-down( sm ){
						width: $column * 6;
					}
				}
			}
		}
	}
	&-column{
		margin: 0 !important;
		padding: 0 15px;
		@include media-breakpoint-between( xs,sm ){
			&:last-child{
				&:nth-child(odd){
					width: 100%;
				}
			}
		}
		@include media-breakpoint-down( xxs ){
			width: 100% !important;
		}
	}
	&-audio{
		width: 100%;
		audio{
			width: 100%;
		}
	}
	&-media-text{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		padding: 0 0 30px;
		&__media{
			width: $column * 6;
			padding: 0 15px;
			margin: 0;
			@include media-breakpoint-down( sm ){
				width: $column * 12;
			}
		}
		&__content{
			width: $column * 6;
			padding: 0 15px;
			@include media-breakpoint-down( sm ){
				width: $column * 12;
			}
		}
	}
}