/*======================================
=            Global  styles            =
======================================*/

html{
	font-family: $base-font;
	color: $black;
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
	color: inherit;
}
*{
	box-sizing: border-box;
}
.wrapper{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.container{
	margin: 0 auto;
}
.row{
	display: flex;
	flex-wrap:wrap;
}

img{
	max-width: 100%;
}