.col{
	padding: 0 15px;
	min-height: 1px;
	&--12{
		width:100%;
	}
	&--11{
		width: $column * 11;
		@include media-breakpoint-down (md) {
			width:100%;
		}
	}
	&--10{
		width: $column * 10;
		@include media-breakpoint-down (sm) {
			width:100%;
		}
	}
	&--9{
		width: $column * 9;
		@include media-breakpoint-down (sm) {
			width:100%;
		}
	}
	&--8{
		width: $column * 8;
		@include media-breakpoint-down (md) {
			width: 100%;
		}
	}
	&--7{
		width: $column * 7;
		@include media-breakpoint-down (sm) {
			width: 100%;
		}
	}
	&--6{
		width: $column * 6;
		@include media-breakpoint-down (sm) {
			width:100%;
		}
	}
	&--5{
		width: $column * 5;
		@include media-breakpoint-down (sm) {
			width:100%;
		}
	}
	&--4{
		width: $column * 4;
		@include media-breakpoint-down (md) {
			width:50%;
		}
		@include media-breakpoint-down (sm) {
			width:100%;
		}
	}

	&--3{
		width: $column * 3;
		@include media-breakpoint-down (md) {
			width:50%;
		}
		@include media-breakpoint-down (xs) {
			width:100%;
		}
	}
	&--2{
		width: $column * 2;
		@include media-breakpoint-down (sm) {
			width:100%;
		}
	}
	&--1{
		width: $column * 1;
		@include media-breakpoint-down (md) {
			width:50%;
		}
		@include media-breakpoint-down (sm) {
			width:100%;
		}
	}
}